
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .search-input {
    width: 100%;
    padding: 0.7rem 1rem;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .search-input:focus {
    border-color: #cc3f24;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  }
  
  .search-button {
    position: absolute;
    right: 0.5rem;
    background-color: #cc3f24;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top:0.25rem;
  }
  
  .search-button:hover {
    background-color: #cc3f24;
  }
  
  .autocomplete-list {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .autocomplete-item {
    padding: 0.6rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .autocomplete-item:hover {
    background-color: #f0f0f0;
  }

  