/* App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f6f9;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.contentt {
  display:flex;
  justify-content: space-around;

}

footer {
  
  color: #1d252d;
  padding: 15px;
  text-align: center;
}


footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #34495e;
  padding: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #CC3F24;
}

button {
  /* background-color: #1abc9c; */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #CC3F24;
}

input, select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.event-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.event-card h3 {
  margin-top: 0;
}

.event-card p {
  font-size: 0.9rem;
}

.event-card .event-date {
  font-weight: bold;
  color: #2a3d66;
}

.event-card .event-location {
  font-style: italic;
  color: #7f8c8d;
}
